@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}



body {
    /* background-color: burlywood; */

    position: relative;
}



/* --------------------------------------------------------- UTILITIES ---------------------------------------------------------*/

.header_border_right {
    border-right: 1px solid #bdc3c7;

}


.game_line_in_stock {
    color: #2ecc71;
}

.game_line_out_of_stock {
    color: #e74c3c;
}

.margin_top_content {
    margin-top: 62px;
}

@media screen and (max-width: 768px) {
    .margin_top_content {
        margin-top: 64.5px;
    }
}



.detail_game_content_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.detail_game_content_margin {
    margin-right: 30px;
    margin-left: 30px;


}



@media screen and (max-width: 768px) {
    .detail_game_content_padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .detail_game_content_margin {
        margin-left: 20px;
        margin-right: 20px;
    }
}



/* --------------------------------------------------------- FIN UTILITIES ---------------------------------------------------------*/











/* --------------------------------------------------------- HEADER ---------------------------------------------------------*/


.header {
    width: 100%;
    min-height: 61px;

    display: flex;
    align-items: center;

    font-family: 'Roboto';

    background-color: #ffffff;   

 

    border-bottom: 1px solid #bdc3c7;

    position: fixed;
    top: 0;

    z-index: 1000;

    /* background-color: rosybrown; */
}




    /* --------------------------------------------------------- CONTAINER TOGGLE AISLE ---------------------------------------------------------*/

.header_container_toggle_aisle {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 3vw;

    display: none;

    /* background-color: red; */
}


.toggle_btn {
    width: 35px;
    height: 30px;

    position: relative;

    cursor: pointer;
    margin-top: 10px;

    margin-bottom: 2px;

    /* background-color: darkgreen;  */
}

.toggle_btn span {
    height: 3px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 14px;
    left: 0;
}

.toggle_btn span::before {
    content: '';
    height: 3px;
    background-color: #000000;
    width: 100%;
    position: absolute;
    top: -8.5px;
    left: 0;
}

.toggle_btn span::after {
    content: '';
    height: 3px;
    background-color: #000000;
    width: 100%;
    position: absolute;
    top: 8.5px;
    left: 0;
}


.toggle_btn_open span::before {
    transform: rotate(45deg);
    top: 0;
}
.toggle_btn_open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.toggle_btn_open span::before, .toggle_btn_open span::after {
    background-color: var(--backColorToggleHeader, #000);
}


.toggle_btn_open span::before, .toggle_btn_open span::after, .toggle_btn span::before, .toggle_btn span::after {
    transition: 0.8s;
}





.toggle_txt {
    font-size: 15px;
    margin-bottom: 5px;
}

    /* --------------------------------------------------------- FIN CONTAINER TOGGLE AISLE ---------------------------------------------------------*/







    /* --------------------------------------------------------- HEADER LOGO ---------------------------------------------------------*/


.link_container_logo_header {
    height: 61px;
}

.header_container_logo {
    padding: 6px 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo_img {
    width: 110px;
    margin: 0 44.5px;

    display: block;
}


    /* --------------------------------------------------------- FIN HEADER LOGO ---------------------------------------------------------*/


    /* --------------------------------------------------------- HEADER CONTAINER AISLE SEARCH ---------------------------------------------------------*/

.header_container_aisle_search {
    /* background-color: royalblue; */

    display: flex;
    justify-content: space-between;

    width: 50%;



}

        /* --------------------------------------------------------- CONTAINER AISLE ---------------------------------------------------------*/


.container_aisle {
    /* background-color: saddlebrown; */

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    max-width: 180px;
    min-width: 140px;

    position: relative;

    cursor: pointer;
}

.aisle_content {
    font-size: 13px;
    display: flex;
    align-items: center;

    text-align: center;

    /* background-color: cadetblue;  */
}
.header_aisle_chevron_down {
 
    padding-left: 2vw;
}






.header_aisle_dropdown {
    background-color: #ffffff; 

    position: absolute;
    top: 63px;
    left: 0;

    width: 350%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 20px;

    visibility: hidden;
}

.header_aisle_dropdown_item {
    padding: 12px 10px 11px 20px;
    min-width: 50%;

    border-left: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;

    text-decoration: none;
    color: #000000;

}

.header_aisle_dropdown_item:nth-child(2n + 1){
    border-right: none;

}
.settings_container {
    font-size: 20px;
    min-width: 160px;
    position: relative;
    cursor: pointer;
}
.settings_dropdown {
    position: absolute;
    top: 55px;
    left: -110px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: #ffffff;
}

.settings_dropdown_item {
    border-left: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    padding: 10px 15px 10px 15px;
}

.settings_dropdown_item:hover {
    color:#f5b027;
    transition: 0.2s;
}
.settings_text {
    padding-left: 10px;
}

        /* --------------------------------------------------------- FIN CONTAINER AISLE ---------------------------------------------------------*/





        /* --------------------------------------------------------- CONTAINER SEARCH ---------------------------------------------------------*/

.container_search {
    display: flex;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 11px;

    /* margin-left: 5px; */

    width: 80%;

    margin-left: 15px;

    /* background-color: slateblue; */
}

.container_search form {
    display: flex;

    width: 100%;
}

.header_search_input {
    padding-left: 18px;
    padding-right: 28px;

    height: 40px;

    width: 100%;

    font-size: 15px;

    transition: 0.2s;

    outline: none;
    border: none;

    background-color: #e1e7eb;
}

.header_search_input:hover, .header_search_input:focus {
    box-shadow: inset 0.5px 0.5px 15px rgba(0, 0, 0, 0.1);
}




.btn_search {
    height: 40px;
    width: 39px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;

    background-color: #f5b027;
}


.header_search_img{
    width: 17px;
}



        /* --------------------------------------------------------- FIN CONTAINER SEARCH ---------------------------------------------------------*/



    /* --------------------------------------------------------- FIN HEADER CONTAINER AISLE SEARCH ---------------------------------------------------------*/



    /* --------------------------------------------------------- HEADER CONTAINER ACCOUNT ---------------------------------------------------------*/


.container_header_account {
    /* background-color: skyblue; */
    display: flex;
    justify-content: flex-end;

    width: 35%;
}


.header_link {
    padding: 10px 35px;
    background-color: #f5b027;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.header_link:hover {
    background-color: #f8c153;
}



.log_icon {
    display: none;
}




.header_link_account {

    display: flex;
    align-items: center;

    font-size: 28px;
    color: #000000;

    margin-right: 15px;
}



    /* --------------------------------------------------------- FIN HEADER CONTAINER ACCOUNT ---------------------------------------------------------*/


/* --------------------------------------------------------- FIN HEADER ---------------------------------------------------------*/






/* --------------------------------------------------------- FAVORI ---------------------------------------------------------*/

.form_favori button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.favori_icon {
    font-size: 17px;

}

.favori_icon_active {
    color: #f5b027;
}

.favori_icon_disactive {
    color: #bdc3c7;
}




/* --------------------------------------------------------- FIN FAVORI ---------------------------------------------------------*/




@media screen and (max-width: 768px) {

    .header_border_right {
        border-right: none;
    
    }

    .header_container_aisle_search {
        display: none;
    }

    .header_container_toggle_aisle {

       display: flex;
    }

    .logo_img {
        margin: 0 25px;
    }





    .header {
        display: flex;
    }



    .container_header_account {
        width: unset;

        position: absolute;
        right: 15px;
    }
}





@media screen and (max-width: 468px) {
    .logo_img {
        margin: 0 5px;

    }
    .container_header_account {
        right: 7px;
    }
    
    .header_link {
        padding: 8px 20px;
    
        font-size: 15px;
    }



    .log_icon {
        display: unset;
    }
    .log_txt {
        display: none;
    }

    
}

















































































































































































/* --------------------------------------------------------- ANIM ---------------------------------------------------------*/


.visibility_visible {
    visibility: visible; 
}

.visibility_hidden {
    visibility: hidden;
}


.menu_nav_sidebar_active {
    transform: translateX(0);
}

.overflow_hidden {
    overflow: hidden;
}
/* --------------------------------------------------------- FIN ANIM ---------------------------------------------------------*/

.input_message {
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 5px;
}
.error {
    color : #dd1e35;
    -webkit-box-shadow: 0px 0px 5px 1px #dd1e35; 
    box-shadow: 0px 0px 5px 1px #dd1e35;
}
.validation {
    color : #52e04d;
    -webkit-box-shadow: 0px 0px 5px 1px #52e04d; 
    box-shadow: 0px 0px 5px 1px #52e04d;
}



.button {
    background-color: #f5b027;
    margin-top: 15px;
    font-size: 15px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffff;
}

.button:hover {
    background-color: #f8c153;
}

a {
    color: black;
    text-decoration: none;
}