


/* --------------------------------------------------------- ALL DISPLAY LINE ---------------------------------------------------------*/

.container_all_game_line {
    width: 100%;

    display: flex;
    justify-content: space-between;

    /* background-color: orange; */
}








.container_all_game_line_content {
    width: 78%;
}





/* --------------------------------------------------------- FIN ALL DISPLAY LINE ---------------------------------------------------------*/


@media screen and (max-width: 968px) {
    .menu_nav_sidebar_title {
        padding-left: 7px;

    }

    .link_menu_nav_sidebar {
        padding-left: 15px;

    }
}








@media screen and (max-width: 768px) {


    .container_all_game_line_content {
        width: 100%;
    }
}





@media screen and (min-width: 1800px) {
    .container_all_game_line_content {
        width: calc(100% - 470px) ;
    }
}








































/* --------------------------------------------------------- DISPLAY LINE ---------------------------------------------------------*/


.container_game_line {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    font-family: 'Roboto';


    /* background-color: royalblue; */
}

.container_game_line:first-child {
    margin-top: 50px;
}

.container_game_line:last-child {
    margin-bottom: 150px;
}



    /* --------------------------------------------------------- DISPLAY LINE CONTENT ---------------------------------------------------------*/

.container_game_line_content {
    width: 100%;

    padding: 10px 0;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #bdc3c7;

    /* background-color: salmon; */
}

.container_game_line:first-child .container_game_line_content{
    border-top: 1px solid #bdc3c7;

}



        /* --------------------------------------------------------- CONTAINER IMG ---------------------------------------------------------*/

.game_line_container_img {
    width: 20%;

    height: 175px;

    display: flex;
    justify-content: center;

    max-width: 250px;


    /* background-color: blueviolet; */
}

.game_line_link_img {
    height: 100%;
}



.game_line_img {
    display: block;
    max-height: 100%;

}



        /* --------------------------------------------------------- FIN CONTAINER IMG ---------------------------------------------------------*/









        /* --------------------------------------------------------- CONTAINER INFO ---------------------------------------------------------*/

.game_line_container_infos {
    width: 60%;

    padding: 0 10px;

    /* background-color: springgreen; */
}

.game_line_infos_link {
    display: block;

    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.game_line_infos_link:hover {
    text-decoration: underline;
}

.game_line_infos_link_editor {
    margin-bottom: 15px;
}



            /* --------------------------------------------------------- INFO TAB MID ---------------------------------------------------------*/

.game_line_infos_tab_mid_container {
    border: 1px solid #000000;

    height: 50%;

    display: flex;
}

                /* --------------------------------------------------------- INFO TAB MID LEFT ---------------------------------------------------------*/


.game_line_infos_tab_mid_left {
    width: 50%;

    font-size: 12px;

    padding: 7px;

    display: flex;
    flex-wrap: wrap;

    /* background-color: blueviolet; */
}

.game_line_info_console {
    font-weight: bold;
}

                /* --------------------------------------------------------- FIN INFO TAB MID LEFT ---------------------------------------------------------*/



                /* --------------------------------------------------------- INFO TAB MID RIGHT ---------------------------------------------------------*/
.game_line_infos_tab_mid_right {
    width: 50%;

    padding: 7px;
    font-size: 14px;
    border-left: 1px solid #000000;

    /* background-color: brown; */
}

.icon_game_line {
    margin-right: 5px;
}





                /* --------------------------------------------------------- FIN INFO TAB MID RIGHT ---------------------------------------------------------*/




            /* --------------------------------------------------------- FIN INFO TAB MID ---------------------------------------------------------*/




        /* --------------------------------------------------------- FIN CONTAINER INFO ---------------------------------------------------------*/







        /* --------------------------------------------------------- CONTAINER PRICE ---------------------------------------------------------*/

.game_line_container_price_add_cart {

    width: 20%;
    max-width: 250px;

    padding-top: 3.5vw;

    display: flex;
    align-items: center;

    flex-direction: column;

    /* background-color: teal; */
}

.game_line_container_price_values {

    display: flex ;
    justify-content: flex-end;

    width: 80%;

    font-weight: bold;
    color: #dd1e35;

    margin-bottom: 8px;

    /* background-color: cadetblue; */
}

.game_line_price_first_value {
    font-size: 20px;
}
.game_line_price_second_value {
    font-size: 14px;
}





.game_line_container_add_cart {
    background-color: #f5b027;

    font-size: 13px;

    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.8vw 0;

    border-radius: 5px;

    cursor: pointer;

    transition: 0.5s;
}
.game_line_container_add_cart:hover {
    background-color: #f8c153;
}


.game_line_add_cart {
    text-decoration: none;
    color: #ffffff;
    background : transparent; 
    border : none;
}



        /* --------------------------------------------------------- FIN CONTAINER PRICE ---------------------------------------------------------*/


    /* --------------------------------------------------------- FIN DISPLAY LINE CONTENT ---------------------------------------------------------*/




/* --------------------------------------------------------- FIN DISPLAY LINE ---------------------------------------------------------*/








@media screen and (min-width: 1560px) {
    .game_line_container_infos {
        width: 80%;
    }
}



@media screen and (max-width: 1200px) {

    .container_game_line {
        justify-content: center;
    }


    .container_game_line_content {
        flex-direction: column;

        padding: 25px 0;
    }


    .game_line_container_img, .game_line_container_infos, .game_line_container_price_add_cart {
        width: 100%;
        max-width: unset;
    }





    .game_line_container_img {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 10px;
        height: unset;

    }

    .game_line_img {
        width: 150px;


    }










    .game_line_container_infos {
        margin-bottom: 10px;
    }

    .game_line_infos_link_editor {
        margin-bottom: 5px;
    }

    .game_line_infos_tab_mid_container {
        height: 75px ;

    }








    .game_line_container_price_add_cart {
        padding-left: 10px;
        padding-right: 10px;
    }

    .game_line_container_price_values {
        width: 100%;
        justify-content: flex-start;

    }

    .game_line_container_add_cart {
        width: 100%;

        padding: 15px 0;
    }
}





@media screen and (max-width: 768px) {
    .container_game_line_content {
        width: 95%;

        padding: 35px 0;
    }


    .game_line_img {
        width: 120px;

    }
}
