
body {
    background-color: #f2f2f2;
}





/* --------------------------------------------------------- CONTAINER ALL COMMANDE ---------------------------------------------------------*/





.commande_title_serv_client {
    font-size: 35px;
    font-weight: 700;

    padding: 10px 20px;

    color: #232323;

    margin-top: 80px;
}


    /* --------------------------------------------------------- CONTAINER ALL COMMANDE CONTENT ---------------------------------------------------------*/


.container_all_commande_content {
    width: 95%;


    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 20px 40px;
    padding-bottom: 74px;

    background-color: #ffffff;

    -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.1); 
    box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.1);

}




.commande_title {
    font-size: 35px;
    font-weight: 700;



    color: #232323;
}






        /* --------------------------------------------------------- ONE COMMANDE CONTENT ---------------------------------------------------------*/

.container_one_commande {
    width: 100%;
 

    margin-top: 75px;

    border-bottom: 1px solid #bdc3c7;

    /* background-color: red; */
}

.container_one_commande:last-child {
    border-bottom: none;
}


            /* --------------------------------------------------------- ONE COMMANDE TITLE CONTAINER ---------------------------------------------------------*/

.one_commande_title_container {
    display: flex;
    align-items: flex-end;

    /* background-color: blue; */
}

.one_commande_title {
    font-size: 27px;
}



.one_commande_date {
    font-size: 18px;
    margin-left: 5vw;
}

            /* --------------------------------------------------------- FIN ONE COMMANDE TITLE CONTAINER ---------------------------------------------------------*/





            /* --------------------------------------------------------- ONE COMMANDE CONTAINER INFO COMM & CONTENT COMM ---------------------------------------------------------*/

.container_infoComm_contentComm {
    width: 100%;
   

    padding: 20px;

    display: flex;

    /* background-color: rosybrown; */
}



                /* --------------------------------------------------------- ONE COMMANDE CONTAINER INFO COMM  ---------------------------------------------------------*/
.container_infoComm, .container_contentComm {
    width: 50%;

    padding: 5px;

    /* background-color: saddlebrown; */

}

.infoComm_title {
    font-size: 25px;
}

.container_infoComm_content {
    width: 100%;


}




.infoComm_content_customer, .infoComm_content_delivery {
    width: 100%;

    margin-top: 15px;

    /* background-color: silver; */
}

.infoComm_content_customer_title, .infoComm_content_delivery_title {
    font-size: 18px;
}

.infoComm_content_delivery_title {
    margin-bottom: 12px;
}

.etat_livraison {
    color: #ddda1e;
}

.Livré {
    color: rgb(0, 255, 0);
}

.préparation {
    color: #f34d71;
}



.infoComm_content_customer_content, .infoComm_content_delivery_content {
    display: flex;
    flex-wrap: wrap ;
}


.infoComm_content_box {
    min-width: 50%;

    margin-bottom: 7px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    /* background-color: seagreen; */
}


.infoComm_content_txt_type {
    font-weight: bold;
}

.infoComm_content_txt_firstname {
    margin-top: 5px;
}



                /* --------------------------------------------------------- FIN ONE COMMANDE CONTAINER INFO COMM  ---------------------------------------------------------*/






                /* --------------------------------------------------------- ONE COMMANDE CONTAINER CONTENT COMM  ---------------------------------------------------------*/
.container_contentComm {
    width: 50%;

    padding: 5px;

    /* background-color: sandybrown; */
}


.contentComm_title {
    font-size: 25px;
    margin-bottom: 10px;
}





                    /* --------------------------------------------------------- ONE COMMANDE CONTAINER LINE  ---------------------------------------------------------*/
.contentComm_line_container {
    display: flex;
    justify-content: space-between;
   
    margin-bottom: 5px;

    /* background-color: red; */
}


.contentComm_line_img {
    height: 70px;

    display: block;

    margin-right: 8px;
}

.contentComm_line_name {
    font-size: 15px;
}



.contentComm_line_price {

    display: flex ;
    justify-content: flex-end;



    font-weight: bold;
    color: #dd1e35;


    margin-bottom: 8px;

    margin-left: 8px;

}

.contentComm_line_price_first_value {
    font-size: 20px;
}
.contentComm_line_price_second_value {
    font-size: 14px;
}

.access_commands_link{
    font-size: 14px;
}
.access_commands_link:hover{
    text-decoration: underline;
}



                    /* --------------------------------------------------------- FIN ONE COMMANDE CONTAINER LINE  ---------------------------------------------------------*/





                    /* --------------------------------------------------------- ONE COMMANDE CONTAINER TOTAL  ---------------------------------------------------------*/

.contentComm_total {
    display: flex;
    justify-content: flex-end;

    padding-top: 10px;

    font-size: 20px;
    font-weight: bold;

    border-top: 1px solid #bdc3c7;

    /* background-color: brown; */
}



                    /* ---------------------------------------------------------FIN ONE COMMANDE CONTAINER TOTAL  ---------------------------------------------------------*/

                
                /* --------------------------------------------------------- FIN ONE COMMANDE CONTAINER CONTENT COMM  ---------------------------------------------------------*/






            /* --------------------------------------------------------- FIN ONE COMMANDE CONTAINER INFO COMM & CONTENT COMM ---------------------------------------------------------*/




            



        /* --------------------------------------------------------- FIN ONE COMMANDE CONTENT ---------------------------------------------------------*/



    /* --------------------------------------------------------- FIN CONTAINER ALL COMMANDE CONTENT ---------------------------------------------------------*/









/* --------------------------------------------------------- FIN CONTAINER ALL COMMANDE ---------------------------------------------------------*/







@media screen and (max-width: 768px) {
    .container_all_commande_content {
        padding: 10px 20px;
    
    
    }

    .container_infoComm_contentComm {
        flex-direction: column;
    }

    .container_infoComm, .container_contentComm {
        width: 100%;
    }




    .contentComm_line_container {
        flex-direction: column;
        align-items: center;
    }


    .contentComm_line_img {
        height: 50px;
        margin-right: 0;

        margin-bottom: 5px;

    
    }

    .contentComm_line_name {
        margin-top: 4px;
    }

    .contentComm_line_price {
        width: 100%;
        margin-left: 0;
        margin-top: 4px;

    }
    .contentComm_line_price_first_value {
        font-size: 17px;
    }
    .contentComm_line_price_second_value {
        font-size: 11px;
    }


    .contentComm_total {
        font-size: 17px;

    }
}




@media screen and (max-width: 450px) {
    .one_commande_title_container {

        flex-direction: column;
        align-items: flex-start;
    }
}


